<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Diuretics paradis num copo é motivis de denguis. Mé faiz elementum girarzis, nisi eros vermeio.
                Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Atirei o pau no gatis, per gatis num morreus. Casamentiss faiz malandris se pirulitá. Delegadis gente finis, bibendum egestas augue arcu ut est. Sapien in monti
                palavris qui num significa nadis i pareci latim. Leite de capivaris, leite de mula manquis sem cabeça. Interagi no mé, cursus quis, vehicula ac nisi. Copo furadis é disculpa de bebadis, arcu quam euismod magna.
            </p>
        </div>
    </div>
</div>
<!--classe criada para a imagem ficar fixa no fundo e quando da o scrol ela vai aparecendo conforme sobe e desce-->
<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weigth-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>